/* GENERAL */

* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", "Arial", "sans-serif";
    scroll-behavior: smooth;
}


body {
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

/* SECTION SCROLLING */

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
}

#section1 {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

#section2 {
    height: 150vh;
    position: relative;
    scroll-snap-align: start;
    background-color: rgb(17, 17, 17);
}

#section3 {
    height: 140vh;
    position: relative;
    scroll-snap-align: start;
    background-color: black;
}

/* SECTION 1 BG IMAGE */

#bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    user-select: none;
    pointer-events: none;
    object-fit: cover;
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 4.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    transition: all 0.5s;
    border-bottom: 0.7px solid rgb(78, 78, 78);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 101;
}

#header:hover {
    box-shadow: 0 5px 3px rgba(59, 0, 0, 0.739);
    border-bottom-color: rgb(59, 0, 0);
}

#header-right-buttons {
    display: flex;
    align-items: center;
}

#hamburger-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#shop-button-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 0.9rem;
    margin-right: 1rem;
}


#logo-button {
    border: none;
    color: white;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

/* SIDEBAR */

#sidebar {
    position: fixed;
    right: 0;
    top: 4.5rem;
    bottom: 0;
    width: 15rem;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(12px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}


#sidebar.open {
    transform: translateX(0);
}

#sidebar-buttons-container {
    display: flex;
    flex-direction: column;
    height: 10rem;
    align-items: center;
}

.sidebar-buttons {
    color: white;
    border: none;
    width: 15rem;
    background-color: transparent;
    padding: 2rem 0;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.sidebar-buttons:hover {
    border-bottom: 0.7px solid rgb(78, 78, 78);
    box-shadow: 0 4px 8px rgba(78, 78, 78, 0.3);
}

#overlay {
    position: fixed;
    top: 4.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 99;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* FOOTER */

#footer * {
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35%;
    background-color: rgb(25, 25, 25);
    border-top: 0.7px solid rgb(78, 78, 78);
}

#footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

#footer-left-top {
    color: white;
    font-size: 2.5rem;
}

#footer-left-mid {
    line-height: 1.2rem;
    margin-top: 0.8rem;
    color: gray;
    max-width: 10rem;
    text-align: left;
    font-size: 0.7rem;
}

#footer-left-bottom {
    margin-top: 1.5rem;
}

#footer-left-bottom button {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(78, 78, 78);
    background-color: rgb(28, 28, 28);
    color: gray;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
}

#footer-left-bottom button:hover {
    color: rgb(200, 0, 0);
    border-color: rgb(200, 0, 0);
}

#footer-right {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
}

.footer-right-heading {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 2.3px;
}


.footer-right-text {
    margin-right: 13rem;
    max-width: 10rem;
    margin-left: -5rem;
}

.footer-right-text p {
    margin-bottom: 1.6rem;
    color: gray;
    transition: color 0.2s;
}

.footer-right-text p:hover {
    color: white;
}

/* SECTION 1 */

#main-page {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

#main-page-left {
    padding-top: 1.5rem;
    color: white;
    position: relative;
    margin-left: 2rem;
    z-index: inherit;
    border-bottom: 1.5px solid rgb(42, 42, 42);
    padding-bottom: 0.5rem;
}

h1 {
    font-size: 6rem;
    max-width: 40px;
    line-height:  90px;
}

h2 {
    color: gray;
    font-size: 1.5rem;
}

#main-page-right {
    z-index: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-right: 2rem;
}

#view-programs-button {
    background-color: black;
    color: white;
    border: 0.9px solid rgb(78, 78, 78);
    font-size: 2rem;
    cursor: pointer;
    padding: 20px 80px;
    transition: all 0.5s;
}

#view-programs-button:hover {
    margin-bottom: 10px;
    box-shadow: 0px 3px 25px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 20px rgba(255, 255, 255, 0.5);;
}

#start-training-button {
    background-color: rgb(210, 0, 0);
    color: white;
    border: none;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 80px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: margin 0.5s; 
}

#start-training-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: white;
    transition: width 0.5s ease;
}

#start-training-button:hover::after {
    width: 100%;
}

#start-training-button:hover {
    margin-bottom: 10px;
}


/* CAROUSEL */

.carousel {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    bottom: 4rem;
}

.track {
    filter: grayscale(1);
    display: flex;
    width: max-content;
}

.slide {
    width: 300px;
    height: 16rem;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
    object-fit: cover;
}

/* SECTION 2 */

@keyframes slideUp {
    from {opacity: 0; transform: translateY(12px);}
    to {opacity: 1; transform: translateY(0);}
}

.animate {
    animation: slideUp 0.5s ease;
}


#section2-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7rem;
    margin-left: 2rem;
}

h3 {
    color: white;
    font-size: 4rem;
    width: 300px;
    line-height: 70px;
}

h4 {
    margin-top: 1rem;
    color: gray;
    font-size: 1.5rem;
}

#programs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.programs-grid-items {
    position: relative;
    border-right: 1px solid rgb(42, 42, 42);
    border-bottom: 1px solid rgb(42, 42, 42);
    padding-top: 3rem;
    height: 23rem;
    font-size: 1rem;
    cursor: pointer;}

.programs-grid-items:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.programs-grid-items::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(170, 0, 0);
    transition: width 0.5s ease;
}

.programs-grid-items:hover::after {
    width: 100%;
}

.program-card {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    transition: all 0.7s;
}

.program-card h5 {
    font-size: 2rem;
    line-height: 50px;
}

.program-card p {
    margin-top: 2rem;
    font-size: 1.5rem;
    max-width: 18rem;
    word-spacing: 1px;
}

.program-card button {
    margin-top: 2rem;
    border: none;
    color: white;
    background-color: rgb(170, 0, 0);
    padding: 0.7rem 2.5rem;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: 3rem;
    cursor: pointer;
}

/* SECTION 3 */

#subscription-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 7.5rem;
    margin-bottom: 2rem;

}

#subscription-1 {
    background-color: rgb(17, 17, 17);
    color: white;
    border: 1px solid rgb(42, 42, 42);
    height: 35rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s;
}

#subscription-1 button {
    background-color: transparent;
    border: 1px solid rgb(55, 55, 55);
    transition: background-color 0.2s;
}

#subscription-1 button:hover {
    background-color: rgb(170, 0, 0);
}

#subscription-1:hover {
    background-color: rgb(40, 40, 40);
}

#subscription-2 {
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid rgb(42, 42, 42);
    height: 35rem;
    width: 25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 8px solid rgb(210, 0, 0);
    margin-bottom: 3rem;
}

#subscription-3 {
    background-color: rgb(17, 17, 17);
    color: white;
    border: 1px solid rgb(42, 42, 42); 
    height: 35rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.2s;
}

#subscription-3 button {
    background-color: transparent;
    border: 1px solid rgb(55, 55, 55);
    transition: background-color 0.3s;
}

#subscription-3 button:hover {
    background-color: rgb(170, 0, 0);
}

#subscription-3:hover {
    background-color: rgb(40, 40, 40);
}

#most-poupular {
    position: absolute;
    top: -1.65rem;
    left: 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5)
}

.subs-title {
    font-size: 2.5rem;
}

.subs-price {
    font-size: 2rem;
}
.subs-desc {
    font-size: 1.5rem;
    text-align: center;
}

.subs-list {
    color: gray;
    line-height: 2rem;
}

.subs-button {
    font-size: 3rem;
    color: white;
    padding: 0.7rem 4rem;
    background-color: rgb(170, 0, 0);
    border: none;
    cursor: pointer;
}

#subs-success {
    position: fixed;
    z-index: 101;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 1.2rem;
    border-left: 5px solid rgb(67, 200, 67);
    width: 15rem;
    height: 5rem;
    right: 0;
    bottom: 3rem;
    transform: translateX(150%);
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
}

#subs-success.slide {
    transform: translateX(0);
}

/* BMI-CALC */

#BMI-main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

/* LEFT */

#BMI-top-text {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: -4.55rem;
    left: 2.2rem;
}

#BMI-calc {
    position: relative;
    background-color: rgb(30, 30, 30);
    margin-top: 7rem;
    border: 1px solid rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 35rem;
    justify-content: space-around;
    align-items: center;
}

#age-div p {
    margin-top: 2rem;
}

#BMI-calc p {
    color: gray;
}

#input-height {
    margin-bottom: 1rem;
}

.input-info {
    border: 1px solid rgb(55, 55, 55);
    background-color: rgb(20, 20, 20);
    width: 30rem;
    height: 2.5rem;
    color: white;
    font-size: 1.2rem;
    padding-left: 1rem;
    outline: 2px solid transparent;
    transition: outline 0.3s;
}

#input-gender {
    height: 2.6rem;
    width: 31rem;
}


.input-info::-webkit-inner-spin-button {
    display: none;
}

.input-info:focus {
    outline: 2px solid rgb(170, 0, 0);
    outline-offset: -2px;
}

#dropdown-div {
    color: rgb(230, 230, 230);
}

#dropdown-div p {
    color: gray;
}

#BMI-calc button {
    font-size: 2rem;
    margin-bottom: 1.4rem;
    padding: 0.5rem 6rem;
    cursor: pointer;
    color: white;
    background-color: rgb(170, 0, 0);
    border: none;
    transition: all 0.3s;
}

#BMI-calc button:hover {
    background-color: rgb(180, 60, 60);
}

#BMI-calc button:active {
    background-color: rgb(190, 80, 80);
}

/* RIGHT */

#BMI-right {
    margin-top: 6rem;
    width: 35rem;
    height: 25rem;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(55, 55, 55);
}

#bar {
    position: relative;
    background: linear-gradient(to right, rgb(5, 201, 240), rgb(66, 213, 66), yellow, red);
    width: 95%;
    height: 9px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

#dot {
    background-color: white;
    position: absolute;
    left: 0;
    border-radius: 100%;
    height: 17px;
    width: 17px;
    transition: left 0.5s;
    opacity: 0;
}

#bar.calc, #dot.calc {
    opacity: 1;
}

#bmi-nr {
    font-size: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bmi-text {
    font-size: 1.4rem;
    color: gray;
    max-width: 25rem;
}

#bmi-nr-text {
    font-size: 2.5rem;
}

/* ORARI */

#orari-text{
    color: white;
    font-size: 3rem;
}

#orari-table-parent {
    padding: 3rem;
    background: rgb(0, 0, 0);
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

th {
    background: rgb(0, 0, 0);
    color: rgb(200, 0, 0);
    font-size: 2rem;
    text-align: left;
    padding: 1rem 1rem;
    border-bottom: 2px solid rgb(200, 0, 0);
    border-right: 0.7px solid rgb(78, 78, 78);
}

td {
    padding: 1rem 1rem;
    border-right: 0.7px solid rgb(78, 78, 78);
    border-bottom: 0.7px solid rgb(78, 78, 78);
    font-size: 1.5rem;
    vertical-align: top;
    color: rgb(220, 220, 220);
}

tr:hover td {
    background: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
}

/* KONTAKTI */

#kontakti-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10rem;
}

#kontakti-left-info-container {
    display: flex;
}

#iframe {
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.3s;
}

#iframe.show {
    opacity: 1;
    user-select: all;
    pointer-events: all;
}

#kontakti-left {
    color: white;
    margin-top: 10rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(78, 78, 78);
}

#kontakti-left-info {
    display: flex;
    flex-direction: column;
}

.kontakti-left-info a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
#kontakti-left-text-top {
    font-size: 1.3rem;
    color: rgb(200, 0, 0);
    margin-bottom: 1.5rem;
}

#kontakti-left-text-mid {
    font-size: 3.5rem;
    max-width: 27rem;
    margin-bottom: 1.5rem;
}

#kontakti-left-text-bottom {
    font-size: 1.3rem;
    max-width: 25rem;
    color: gray;
}

#kontakti-left-info {
    margin-top: 3rem;
    font-size: 1.1rem;
}

.kontakti-left-info {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    width: 15rem;
    cursor: pointer;
    transition: color 0.3s;
}

.kontakti-left-info:hover {
    border-color: rgb(200, 0, 0);
    color: rgb(200, 0, 0);
}

.kontakti-left-info:hover button {
    border-color: rgb(200, 0, 0);
    color: rgb(200, 0, 0);
}

.kontakti-left-info:hover a {
    color: rgb(200, 0, 0);
}

.kontakti-left-button {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    width: 2.2rem;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 100%;
    background-color: transparent;
    border-radius: 100%;
    margin-right: 1rem;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}


.kontakti-left-info-header {
    color: gray;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}

/* KONTAKTI FORM */

#kontakti-form-text-top-1 {
    margin-top: 9rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: white;
    margin-left: 4.5rem;
}

#kontakti-form-text-top-2 {
    color: gray;
    margin-left: 4.5rem;
}

#kontakti-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#emri-dhe-mbiemri {
    margin-top: 2rem;
    display: flex;
}

.kontakti-form {
    width: 36rem;
    background-color: rgba(40, 40, 40);
    border: 1px solid rgb(78, 78, 78);
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    outline: 2px solid transparent;
    transition: all 0.3s;
}

.kontakti-form:focus {
    outline: 2px solid rgb(170, 0, 0);
    outline-offset: -2px;
}

.form-input-headers {
    font-size: 1.5rem;
}

#kontakti-name-input {
    max-width: 15.8rem;
    margin-right: 2rem;
}


#kontakti-lname-input {
    max-width: 15.8rem;
}

#subjekti-form {
    width: 38.3rem;
}

#mesazhi-form {
    min-height: 6rem;
    max-height: 12rem;
    vertical-align: top;
    font-family: inherit;
    min-width: 36rem;
}

#form-button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border: 1px solid rgb(78, 78, 78);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}

#form-button:hover {
    background-color: rgb(200, 0, 0);
    border-color: rgb(200, 0, 0);
}

/* SHOP */

#shop-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-bottom: 8rem;
}

#shop-header {
    color: white;
    font-size: 4rem;
    margin: 8rem 5rem 0rem;
}

#shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 0 5rem;
}

.card-shop {
    height: 18rem;
    background-color: rgb(30, 30, 30);
    border: 1.5px solid transparent;
    transition: border 0.3s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card-shop:hover {
    border: 1.5px solid rgb(100, 100, 100);
}

.shop-image {
    height: 9rem;
    background-color: rgb(17, 17, 17);
    margin: 0.6rem 0.6rem;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.50);
    border: 0.7px solid rgb(78, 78, 78);
    display: flex;
    align-items: center;
}

.shop-image img {
    height: 85%;
    width: 100%;
    object-fit: contain;
}

.shop-card-mid {
    color: white;
    margin-left: 1rem;
}

.shop-card-mid p {
    font-size: 1.5rem;
}

.shop-card-mid h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: gray;
}

.shop-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 0;
    color: white;
}

.shop-card-bottom button {
    font-size: 1.2rem;
    color: white;
    border: none;
    padding: 0.5rem 1.8rem;
    background-color: rgb(170, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-card-bottom button:hover {
    background-color: rgb(170, 70, 70);
}

/* SHOP SIDEBAR */

#shop-sidebar {
    position: fixed;
    right: 0;
    top: 4.5rem;
    bottom: 0;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(12px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop-sidebar.open {
    transform: translateX(0);
}

#shop-cart-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.shop-cart-item {
    background-color: rgb(40, 40, 40);
    width: 18rem;
    height: 7rem;
    border: 0.7px solid rgb(78, 78, 78);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.shop-cart-img {
    width: 10rem;
    height: 80%;
    border-right: 1px solid rgb(78, 78, 78);
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;
}

.shop-cart-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.shop-cart-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shop-cart-text {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.shop-cart-text p {
    padding-left: 1rem;
    max-width: 6rem;
}

.shop-cart-price {
    color: white;
    font-size: 1.5rem;
}

.shop-cart-name {
    color: gray;
    font-size: 1.2rem;
}

.remove-button {
    border-left: 1px solid rgb(78, 78, 78);
    padding-left: 1rem;
    height: 30%;
    display: flex;
    align-items: center;
}

.remove-button button {
    color: gray;
    background-color: transparent;
    margin-right: 0.8rem;
    font-family: 1.3rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.remove-button button:hover {
    color: rgb(170, 0, 0);
}

#purchase {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#purchase-button {
    background-color: rgb(170, 0, 0);
    color: white;
    font-size: 1.5rem;
    padding: 1rem 8rem;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

#purchase-button:hover {
    box-shadow: 0 2px 15px rgba(170, 0, 0, 0.8);
}

#totali {
    font-size: 1rem;
    color: white;
}

#total-price {
    font: 1rem;
    color: white;
}

#cart-full {
    position: fixed;
    z-index: 101;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 1.2rem;
    border-left: 5px solid rgb(170, 0, 0);
    width: 15rem;
    height: 5rem;
    right: 0;
    bottom: 3rem;
    transform: translateX(150%);
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
}

#cart-full.slide {
    transform: translateX(0);
}

#purchase-succsesful {
    position: fixed;
    z-index: 101;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 1.2rem;
    border-left: 5px solid rgb(67, 200, 67);
    width: 15rem;
    height: 5rem;
    right: 0;
    bottom: 3rem;
    transform: translateX(150%);
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
}

#purchase-succsesful.slide {
    transform: translateX(0);
}

