* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    background-color: black;
}

a {
    text-decoration: none;
}

/* SECTION SCROLLING */

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
}

#section1 {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

#section2 {
    height: 150vh;
    position: relative;
    scroll-snap-align: start;
    background-color: rgb(17, 17, 17);
}

#section3 {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
    background-color: black;
}

/* SECTION 1 BG IMAGE */

#bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    user-select: none;
    pointer-events: none;
    object-fit: cover;
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 4.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    transition: all 0.5s;
    border-bottom-width: 0.7px;
    border-bottom-style: solid;
    border-bottom-color: rgb(78, 78, 78);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

#header:hover {
    box-shadow: 0 5px 3px rgba(59, 0, 0, 0.739);
    border-bottom-color: rgb(59, 0, 0);
}

#hamburger-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#logo-button {
    border: none;
    color: white;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

/* SIDEBAR */

#sidebar {
    position: fixed;
    right: 0;
    top: 4.5rem;
    bottom: 0;
    width: 15rem;
    border-top-style: solid;
    border-top-width: 0.7px;
    border-top-color: rgb(78, 78, 78);
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(12px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}


#sidebar.open {
    transform: translateX(0);
}

#sidebar-buttons-container {
    display: flex;
    flex-direction: column;
    height: 10rem;
    align-items: center;
}

.sidebar-buttons {
    color: white;
    border: none;
    width: 15rem;
    background-color: transparent;
    padding: 2rem 0;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.sidebar-buttons:hover {
    border-bottom-width: 0.7px;
    border-bottom-color: rgb(78, 78, 78);
    border-bottom-style: solid;
    box-shadow: 0 4px 8px rgba(78, 78, 78, 0.3);
    z-index: 100;
}

#overlay {
    position: fixed;
    top: 4.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 99;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* SECTION 1 */

#main-page {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

#main-page-left {
    padding-top: 1.5rem;
    color: white;
    position: relative;
    margin-left: 2rem;
    z-index: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: rgb(42, 42, 42);
    padding-bottom: 0.5rem;
}

h1 {
    font-size: 6rem;
    max-width: 40px;
    line-height:  90px;
}

h2 {
    color: gray;
    font-size: 1.5rem;
}

#main-page-right {
    z-index: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-right: 2rem;
}

#view-programs-button {
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 0.9px;
    border-color: rgb(78, 78, 78);
    font-size: 2rem;
    cursor: pointer;
    padding: 20px 80px;
    transition: all 0.5s;
}

#view-programs-button:hover {
    margin-bottom: 10px;
    box-shadow: 0px 3px 25px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 20px rgba(255, 255, 255, 0.5);;
}

#start-training-button {
    background-color: rgb(210, 0, 0);
    color: white;
    border: none;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 80px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: margin 0.5s; 
}

#start-training-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: white;
    transition: width 0.5s ease;
}

#start-training-button:hover::after {
    width: 100%;
}

#start-training-button:hover {
    margin-bottom: 10px;
}


/* CAROUSEL */

.carousel {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    bottom: 4rem;
}

.track {
    filter: grayscale(1);
    display: flex;
    width: max-content;
}

.slide {
    width: 300px;
    height: 16rem;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
    object-fit: cover;
}

/* SECTION 2 */

@keyframes slideUp {
    from {opacity: 0; transform: translateY(12px);}
    to {opacity: 1; transform: translateY(0);}
}

.animate {
    animation: slideUp 0.5s ease;
}


#section2-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7rem;
    margin-left: 2rem;
}

h3 {
    color: white;
    font-size: 4rem;
    width: 300px;
    line-height: 70px;
}

h4 {
    margin-top: 1rem;
    color: gray;
    font-size: 1.5rem;
}

#programs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.programs-grid-items {
    position: relative;
    border-right-style: solid;
    border-right-color: rgb(42, 42, 42);
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(42, 42, 42);
    border-bottom-width: 1px;
    padding-top: 3rem;
    height: 23rem;
    font-size: 1rem;
    cursor: pointer;}

.programs-grid-items:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.programs-grid-items::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(170, 0, 0);
    transition: width 0.5s ease;
}

.programs-grid-items:hover::after {
    width: 100%;
}

.program-card {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    transition: all 0.7s;
}

.program-card h5 {
    font-size: 2rem;
    line-height: 50px;
}

.program-card p {
    margin-top: 2rem;
    font-size: 1.5rem;
    max-width: 18rem;
    word-spacing: 1px;
}

.program-card button {
    margin-top: 2rem;
    border: none;
    color: white;
    background-color: rgb(170, 0, 0);
    padding: 0.7rem 2.5rem;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: 3rem;
    cursor: pointer;
}

/* SECTION 3 */

#subscription-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 7.5rem;
}

#subscription-1 {
    background-color: rgb(17, 17, 17);
    color: white;
    border-style: solid;
    border-color: rgb(42, 42, 42);
    border-width: 1px;
    height: 35rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s;
}

#subscription-1 button {
    background-color: transparent;
    border-style: solid;
    border-color: rgb(55, 55, 55);
    border-width: 1px;
    transition: background-color 0.2s;
}

#subscription-1 button:hover {
    background-color: rgb(170, 0, 0);
}

#subscription-1:hover {
    background-color: rgb(40, 40, 40);
}

#subscription-2 {
    background-color: rgb(40, 40, 40);
    color: white;
    border-style: solid;
    border-color: rgb(42, 42, 42);
    border-width: 1px;
    height: 35rem;
    width: 25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: rgb(210, 0, 0);
    margin-bottom: 3rem;
}

#subscription-3 {
    background-color: rgb(17, 17, 17);
    color: white;
    border-style: solid;
    border-color: rgb(42, 42, 42);
    border-width: 1px;    
    height: 35rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.2s;
}

#subscription-3 button {
    background-color: transparent;
    border-style: solid;
    border-color: rgb(55, 55, 55);
    border-width: 1px;
    transition: background-color 0.3s;
}

#subscription-3 button:hover {
    background-color: rgb(170, 0, 0);
}

#subscription-3:hover {
    background-color: rgb(40, 40, 40);
}

#most-poupular {
    position: absolute;
    top: -1.65rem;
    left: 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5)
}

.subs-title {
    font-size: 2.5rem;
}

.subs-price {
    font-size: 2rem;
}
.subs-desc {
    font-size: 1.5rem;
    text-align: center;
}

.subs-list {
    color: gray;
    line-height: 2rem;
}

.subs-button {
    font-size: 3rem;
    color: white;
    padding: 0.7rem 4rem;
    background-color: rgb(170, 0, 0);
    border: none;
    cursor: pointer;
}

#subs-success {
    position: fixed;
    z-index: 101;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 1.2rem;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgb(67, 200, 67);
    width: 15rem;
    height: 5rem;
    right: 0;
    bottom: 3rem;
    transform: translateX(150%);
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
}

#subs-success.slide {
    transform: translateX(0);
}